@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');
body{
    margin: 0;
    padding: 0;
}
header{
    display: inline;
}
h1{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}
#text-two{
    font-family: 'Oswald', sans-serif;
    font-size: 2em;
}
.jumbotron{
    text-align: center;
    background-color: #8AC4FF;
    padding: 5rem;
}
.navbar{
    display: flex;
    justify-content: space-between;
    background-color: #002961;
    padding: 0.5em;
    position: sticky;
    top: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.dropdown{
    display: flex;
    justify-content: flex-end;
    margin-right: 5em;
}
.dropdown-button{
    outline: none;
    border: 2px solid #002961;
    border-radius: 0.5em;
    background-color: inherit;
    color: white;
    font-size: 1.2em;
    padding: 1em 0.5em;
}
.dropdown-button:hover{
    background-color: yellow;
    color:#002961;
}

.dropdown-menu-one, .dropdown-menu-two{
    display: none;
    z-index: 1;
    background-color: #002961;
}
.dropdown-menu-one a, .dropdown-menu-two a{
    display: flex;
    text-decoration: none;
    color: yellow;
    padding: 1em;
    font-size: 1em;
    border: 2px solid #002961;
    border-radius: 0.5em;
    font-family: 'Oswald', sans-serif;
    
}
.dropdown-menu-one a:hover, .dropdown-menu-two a:hover{
    background-color: black;
}
.button-one:hover .dropdown-menu-one, .button-two:hover .dropdown-menu-two{
    display: block;
}

img{
    width: 5rem;
    padding: 0.5em 0.5em;
}

.boxinside{
    padding: 2rem 1rem;
    background-color: #8DE4FF;
    width:50em;
    height: 50em;
}
p{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}